.page-content{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
}

.page-header{
    height: auto;
    position: sticky;
    top: 0;
}

.hero {
    width: 100%;
    min-width: 45%;
    max-width: 100%;
    height: 25vh;
    background-image: url(../assets/anime-7.jpg);
    background-size: cover;
    background-position: center;
}

.search-container {
    position: absolute;
    top: 15%;
    left: 2%;
}

.headline-container {
    position: absolute;
    top: 10%;
    left: 2%;
}

.search-input {
    background-color: rgba(255, 255, 255, 0.5);
}

.page-main{
    width: 100%;
    height: 100%;
}

.anime-list{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 95%;
    height: auto;
    overflow-x: auto;
}

.card-cover{
    height: 100%;
    width: 100%;
    z-index: 5;
}

.card-body{
    z-index: 6;
    position: absolute;
    color: white;
    height: 40%;
}

.card-titles{

}


